Source: helloworld
Section: base
Priority: optional
Maintainer: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>

Package: helloworld
Version: 1.0-1
Standards-Version: 1.0-1
Architecture: any
Description: Hello World
 When you need some sunshine, just run this
 small program!
